include pyvision/detection/yolov3/config/*.cfg
include pyvision/detection/yolov3/config/*.json
include pyvision/detection/yolov3/config/*.txt
include pyvision/detection/yolov3/data/*.names
include pyvision/detection/yolov3/utils/pallete

include pyvision/misc/mtcnn/config/*.json

include pyvision/face_detection/facenet/config/*.json

include pyvision/gans/wasserstein_gan/config/*.json

recursive-include pyvision *.md
